// Card Warrior styles
.card_warrior {
  width: 175px;
  height: 245px;
  min-width: 175px;
  max-width: 175px;
  min-height: 245px;
  max-height: 245px;
  flex: 0 0 175px;
  border: 2px solid $background-color-dark-border;
  border-radius: $border-radius-big;
  background-color: $background-color-light;

  position: sticky;
  right: 0;
  left: 0;

  // display: flex;
  // flex-direction: column;

  user-select: none;

  .card_warrior__image {
    height: 65%;
    border-bottom: 2px solid $background-color-dark-border;
    background-image: #{url("/src/img/warrior-card-avatar.png")};
    border-top-left-radius: $border-radius-big;
    border-top-right-radius: $border-radius-big;
    background-size: cover;
    overflow: hidden;
  }
  .card_warrior__name {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    color: $text-primary-color;
  }

  .card_warrior__stats {
    font-size: $font-size-small;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    color: $text-primary-color;
  }

  transition: transform 0.3s ease, cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    background-color: $background-color-dark-hover;
    cursor: pointer;
  }
}
.card_archer {
  width: 175px;
  height: 245px;
  min-width: 175px;
  max-width: 175px;
  min-height: 245px;
  max-height: 245px;
  flex: 0 0 175px;
  border: 2px solid $background-color-dark-border;
  border-radius: $border-radius-big;
  background-color: $background-color-light;

  position: sticky;
  right: 0;
  left: 0;

  // display: flex;
  // flex-direction: column;

  user-select: none;

  .card_archer__image {
    height: 65%;
    background-color: $background-color-light;
    border-bottom: 2px solid $background-color-dark-border;
    background-image: #{url("/src/img/archer-card-avatar.png")};
    border-top-left-radius: $border-radius-big;
    border-top-right-radius: $border-radius-big;
    background-size: cover;
    overflow: hidden;
  }

  .card_archer__name {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    color: $text-primary-color;
  }

  .card_archer__stats {
    font-size: $font-size-small;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    color: $text-primary-color;
  }

  transition: transform 0.3s ease, cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    background-color: $background-color-dark-hover;
    cursor: pointer;
  }
}
.card_wizard {
  width: 175px;
  height: 245px;
  min-width: 175px;
  max-width: 175px;
  min-height: 245px;
  max-height: 245px;
  flex: 0 0 175px;
  border: 2px solid $background-color-dark-border;
  border-radius: $border-radius-big;
  background-color: $background-color-light;

  position: sticky;
  right: 0;
  left: 0;

  // display: flex;
  // flex-direction: column;

  user-select: none;

  .card_wizard__image {
    height: 65%;
    background-color: $background-color-light;
    border-bottom: 2px solid $background-color-dark-border;
    background-image: #{url("/src/img/wizzard-card-avatar.png")};
    border-top-left-radius: $border-radius-big;
    border-top-right-radius: $border-radius-big;
    background-size: cover;
    overflow: hidden;
  }

  .card_wizard__name {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 0px;
    color: $text-primary-color;
  }

  .card_wizard__stats {
    font-size: $font-size-small;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    color: $text-primary-color;
  }

  transition: transform 0.3s ease, cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    background-color: $background-color-dark-hover;
    cursor: pointer;
  }
}
.root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav_line {
  height: 80px;
  width: 100%;
  padding: 10px 20px;

  background-image: #{url("/src/img/nav-bar-1.png")};
  background-size: cover;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: space-around;

  // Template styles
  border: 3px solid $background-color-dark-border;
}

.main_row {
  height: calc(100%);
  width: 100%;
  display: flex;

  // Template styles
  border: 3px solid $background-color-dark-border;
}

.game_field {
  height: 100%;
  width: 75%;
  padding: 20px;

  background-image: #{url("/src/img/game-field-var-1.png")};
  background-size: cover;
  overflow: hidden;

  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;

  scrollbar-width: none; // For Firefox
  &::-webkit-scrollbar {
    display: none;
  }

  position: relative;
  align-items: last baseline;
  justify-content: center;
  scroll-behavior: smooth;

  // Template styles
  border: 3px solid $background-color-dark-border;
}

.side_panel_right {
  height: 100%;
  width: 25%;
  padding: 10px 20px;

  background-image: #{url("/src/img/side-bar-var-1.png")};
  background-size: cover;
  overflow: hidden;

  display: flex;
  align-items: baseline;
  justify-content: space-around;

  // Template styles
  border: 3px solid $background-color-dark-border;
}

.debug_spawn_card,
.debug_clear_field {
  position: default;
  padding: 10px 20px;
  border-radius: $border-radius;
  background-color: $primary-color;
  color: $background-color-light;
  transition: transform 0.3s ease, cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.3s ease;
  border: 2px solid $secondary-color;

  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
  &:active {
    transform: scale(0.95);
  }
}
