<div class="card_warrior" id="cardWarrior">
  <div class="card_warrior__image"></div>
  <div class="card_warrior__name">Warrior</div>
  <div class="card_warrior__description"></div>
  <div class="card_warrior__stats">
    <div class="card_warrior__stats__attack">
      <span class="material-symbols-outlined"> swords </span
      ><span class="stats__attack__value"></span>
    </div>
    <div class="card_warrior__stats__health">
      <span class="material-symbols-outlined"> favorite </span>
      <span class="stats__health__value"></span>
    </div>
  </div>
</div>
<div class="card_archer" id="cardArcher">
  <div class="card_archer__image"></div>
  <div class="card_archer__name">Archer</div>
  <div class="card_archer__description"></div>
  <div class="card_archer__stats">
    <div class="card_archer__stats__attack">
      <span class="material-symbols-outlined"> swords </span>
      <span class="stats__attack__value"></span>
    </div>
    <div class="card_archer__stats__health">
      <span class="material-symbols-outlined"> favorite </span>
      <span class="stats__health__value"></span>
    </div>
  </div>
</div>
<div class="card_wizard" id="cardWizard">
  <div class="card_wizard__image"></div>
  <div class="card_wizard__name">Wizard</div>
  <div class="card_wizard__description"></div>
  <div class="card_wizard__stats">
    <div class="card_wizard__stats__attack">
      <span class="material-symbols-outlined"> swords </span>
      <span class="stats__attack__value"></span>
    </div>
    <div class="card_wizard__stats__health">
      <span class="material-symbols-outlined"> favorite </span>
      <span class="stats__health__value"></span>
    </div>
  </div>
</div>
